[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aiofiles = "==0.6.0"
celery = "==4.4.7"
fastapi = "==0.64.0"
pytest = "==6.2.4"
redis = "==3.5.3"
requests = "==2.25.1"
uvicorn = "==0.13.4"
Jinja2 = "==2.11.3"
flower = "==0.9.7"

[dev-packages]

[requires]
python_version = "3.9"
